*
!.gitignore
!.bashrc
!.vimrc
!.i3blocks.conf
!.tmux.conf
!.i3/
!.i3/*
!.i3/blocks/
!.i3/blocks/*
!tmux
!.config/
!.config/terminator/
!.config/terminator/config
!.xsessionrc
!.zshrc
!setup
!wallpaper.png
!.zsh_custom/
!.zsh_custom/themes/
!.zsh_custom/themes/custom.zsh-theme
!alias.zsh
