*
!.gitignore
!.bashrc
!.vimrc
!.tmux.conf
!.i3/
!.i3/*
!tmux
!.config/
!.config/terminator/
!.config/terminator/config
!.xsessionrc
!.zshrc
!setup
!wallpaper.png
!.zsh_custom/
!.zsh_custom/themes/
!.zsh_custom/themes/custom.zsh-theme
